:root {
    --red: #FFADAD;
    --darkRed: #F68373;
    --green: #CAFFBF;
    --blue: #6c77da; 
    --darkBlue: #5E6BD9;
    --green: #95ECF5;
    --white: #FEFEFE;
    --gray: #D9D9D9;
    --black: #534F4F;
    --gray:#e4e6eb; 
    --white:#ffffff;
    --gray_background:#f0f2f5;
    --gray_background_icon:#bcc0c4;
    --gray_hover_icon: #8a8d91;
    --gray_letter: #65676B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blue);
}

.header_welcome,
.header_signUp,
.header_logIn {
    color: var(--white);
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    margin: 3em 0 .5em;
}

main {
    text-align: center;
    font-size: 1.5em;
    color: var(--white);
    margin: 0 50px;
}

.main_logo {
    max-width: 220px;
}
.main_info{
    margin-bottom: 1.5em;
}

.main_button{
    padding: 8px 25px;
    background: var(--white);
    border-radius: 20px;
    cursor: pointer;
    color: var(--darkRed);
    font-weight: 900;
    text-decoration: none;
}
.main_button:hover{
    padding: 9px 28px;
}


.main_logIn{
    margin-top: 1em;
    font-size: .9em;
}

.main_logIn a{
    cursor: pointer;
    color: var(--darkRed);
    text-decoration: none;
    font-weight: 900;
    padding-right: 7px;
}

/* Second page */
.signUp{
    background: var(--red);
}

.signUp_form,
.logIn_form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 320px;
    background-color: var(--darkRed);
    padding: 1.5em 1em;
    border-radius: 20px;

    font-size: 1.5em;
}

.signUp_form input,
.logIn_form input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: var(--darkRed);
    font-weight: 900;
}

.signUp_form .button{
    color: var(--white);
    background: var(--red);
}

.signUp_form .button:hover{
    background: var(--blue);
}

.signUp{
    color: var(--blue);
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif;
}

.header_continue{
    color: var(--white);
}

.page_signUp{
    background: var(--red);
    height:100vh;
}

#viva-subtitle-frame{
    display: none;
}
.signUp_invitate a{
    cursor: pointer;
    color: var(--blue);
    text-decoration: none;
    font-weight: 900;
    padding-right: 7px;
}

.signUp_invitate a:hover{
    text-decoration: 2px underline var(--blue);
}

.logIn_invite a:hover{
    text-decoration: 2px underline var(--green);
}

.main_logIn a:hover{
    text-decoration: 2px underline var(--darkRed);
}
/* third page */
.logIn{
    background: var(--green);
}

.page_logIn{
    background: var(--green);
    height:100vh
}

.logIn{
    color: var(--blue);
}

.signUp_invitate{
    font-size: .7em;
    text-align: center;
}

.logIn_invite{
    font-size: 18px;
}

.signUpA{
    color: var(--green);
    font-size: 19px;
    font-weight: 900;
    padding-right: 7px;
    text-decoration: none;
}

.logIn_form{
    background: var(--blue);
}

.logIn_form .button{
    color: var(--blue);
    background: var(--white);
}

.signUp_form .button{
    color: var(--white);
    background: var(--red);
    cursor: pointer;
}

/* Page post */

.page_post{
    width: 100%;
    height: 190vh;
    background-color: var(--gray_background);
    margin: 0;
}

.post_header{
   display: flex;
   justify-content: space-between;
   padding: .5em 2.5em;
   background-color: var(--white);
}

.post_header img{
    width: 3em;
}

.icons_header{
    display: flex;
    justify-content: space-around;
    width: 130px;
    font-size: .8em;
    align-items: center;
}

.icons_header i{
    background:var(--gray);
    border-radius: 20px;
    padding: .4em .5em;
    color: var(--gray_letter);
}

.icons_header i:hover{
    background: var(--gray_background_icon);
}

.section_create_post,
.section_tematic,
.post_published{
    background-color: var(--white);
    display: flex;
    padding: 1em;
    margin: 1.1em; 
    /* crear responsive margin 1.1 auto; pantallas grandes */
    align-items: center;
    border-radius: 15px;
    max-width: 540px;
    min-width: 350px;
    text-align: start;
}

.section_create_post i{
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--gray_letter);
}

.section_create_post p{
    background-color: var(--gray);
    width: 90%;
    padding: .6em 1.5em;
    border-radius: 20px;
    font-size: 20px;
    color: var(--gray_letter);
    cursor: pointer;
}

.divCreatePostModal{
    position: absolute;
}

.create_post_modal{
    display: none;
    flex-direction: column;
    background-color: var(--white);
    height: 420px;
    margin: 1.5em;
    align-items: center;
    max-width: 540px;
    min-width: 350px;
    position: relative;
    top: -10%;
    left: 9%;
    backdrop-filter: blur(10px);
}

dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.1);
  }


.header_modal{
    display: flex;
    align-items: center;
    width: 100%;                                          
    border-bottom: 1.5px solid var(--gray);
    padding: 10px 0;
}

.header_modal h1{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: var(--gray_letter);
    font-size: 1em;
    font-weight: 900;
}

.header_modal i{
    font-size: .7em;
    background-color: var(--gray);
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 10px;
    margin-right: 30px;
    color: black;
}

.header_modal i:hover{
    background: var(--gray_background_icon);
}

.user_info_modal{
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.user_info_modal i{
    text-align: start;
    padding: 20px 10px 0 40px;
    font-size: 1.2em;
    color: black;
}

.user_info_modal h2{
    font-size: 1em;
    font-weight: 600;
    margin-top: 30px;
    color: var(--gray_letter);
}

.post_modal{
    width: 100%;
    height: 100%;
}

.post_modal input{
    border: none;
    margin: 0 5.5%;
    width: 80%;
    padding: 5px 0px 140px;
    color: var(--gray_letter);
    font-size: 25px;
    
}

.post_modal .btn_post_modal{
    width: 88%;
    margin: 20px 5.5%;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}

.post_modal .btn_post_modal:hover{
    background: var(--darkBlue);
}

.section_tematic{
    justify-content: space-around;
    height: 30px;
    gap: 3px;
}

.section_tematic p{
    color: var(--gray_letter);
    font-size: 17px;
    font-weight: 600;
    padding: 7px 15px;
}

.section_tematic p:hover{
    background: var(--gray_background);
    border-radius: 10px;
    cursor: pointer;
}

.post_published{
    display: block;
    padding: 1.5em 2em;
    
}

.header_published{
    display: flex;
    text-align: start;
    align-items: center;
}

.header_published h2{
    margin: 0 38% 0 3%;
    font-size: 1.2em;
    color: var(--gray_letter);
}

.header_published i{
    font-size: 1em;
    cursor: pointer;
    color: var(--gray_letter);
}

.header_published > i:hover{
    background: var(--gray_background_icon);
    padding: 6px;
    border-radius: 20px;
}

.main_post{
    border-radius: 20px;
    border: 1.5px solid var(--gray);
    padding: 30px;
    margin: .5em 0;
    color: var(--gray_letter);
}

.modalOptions{
    background: var(--white);
    color: var(--gray_letter);
    display: none;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    right: 40px;
    box-shadow: 1px 1px 10px .5px rgba(0, 0, 0, 0.2);
}

.deleteM{
    background: var(--white);
    color: var(--gray_letter);
    display: none;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    right: 40px;
    box-shadow: 1px 1px 10px .5px rgba(0, 0, 0, 0.2);
}

.modalOptions p,
.deleteM p{
    cursor: pointer;
    padding: 3px 75px 3px;
}

.modalOptions p:hover{
    background-color: var(--gray_background);
}

.deleteM :nth-child(2):hover{
    color: var(--white);
    background-color: var(--red);
}

.modalOptions i,
.deleteM i{
    position: absolute;
    left: 10px;
    top: 5px;
}



.reaction_count{
    padding: 10px;
    color: var(--gray_letter);
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid var(--gray)
}

.reactions{
    color: var(--gray_letter);
    font-size: 18px;
    font-weight: 900;
    margin: 15px 0;
}

.reactions i{
    padding: 10px 40px 0 0;
}

.reactions i:nth-child(odd):hover{
    color: var(--darkRed);
    cursor: pointer;
}

.reactions i:nth-child(2n):hover{
    color: var(--darkBlue);
    cursor: pointer;
}

.create_comment{
    display: flex;
    align-items: center;
}

.create_comment input{
    width: 80%;
    padding: 25px 0px 25px 20px;
    border-radius: 20px 0 0 20px;
    background-color: var(--gray_background);
    border: 1px solid var(--gray_background);
    display: flex;
    flex-direction: row;
    font-size: .8em;
    font-weight: 200; 
    border: none;
}

.create_comment i{
    color: var(--gray_letter);
    font-size: .8em;
    padding: 25px ;
    background-color: var(--gray_background);
    border: 1px solid var(--gray_background);
    border-radius: 0 20px 20px 0;
}

.create_comment i:hover{
    color: var(--darkBlue);
}